{% extends 'base.html' %}

{% block title %}映画一覧{% endblock title %}

{% block content %}

<h1 class="page-header">映画リスト</h1>
{% if movies %}
  <table class="table">
    <thead>
      <tr>
        <th>制作年</th>
        <th>タイトル</th>
      </tr>
    </thead>
    <tbody>
      {% for movie in movies %}
      <tr>
        <td> {{ movie.year}} </td>
        <td> <a href="{% url 'detail' movie.id %}">{{ movie.english_title }}</a> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No Movie</p>
{% endif %}

<nav>
  <ul class="pagination">
    {% if movies.has_previous %}
    <li class="previous"><a href="?page={{ movies.previous_page_number }}">前へ</a></li>
    {% else %}
    <li class="previous disable">前へ</li>
    {% endif %}

    {% if movies.has_next %}
    <li class="next"><a href="?page={{ movies.next_page_number }}">次へ</a></li>
    {% else %}
    <li class="next disable">次へ</li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
